BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
GO
ALTER TABLE GRUPO_N.Proveedor
	DROP CONSTRAINT FK_Proveedor_Rubro
GO
CREATE TABLE GRUPO_N.Tmp_Proveedor
	(
	ID int NOT NULL,
	RazonSocial nvarchar(100) NOT NULL,
	CUIT nvarchar(20) NOT NULL,
	ID_Rubro int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE GRUPO_N.Tmp_Proveedor SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM GRUPO_N.Proveedor)
	 EXEC('INSERT INTO GRUPO_N.Tmp_Proveedor (ID, RazonSocial, CUIT, ID_Rubro)
		SELECT ID, RazonSocial, CUIT, ID_Rubro FROM GRUPO_N.Proveedor WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE GRUPO_N.Cupon
	DROP CONSTRAINT FK_Cupon_Proveedor
GO
DROP TABLE GRUPO_N.Proveedor
GO
EXECUTE sp_rename N'GRUPO_N.Tmp_Proveedor', N'Proveedor', 'OBJECT' 
GO
ALTER TABLE GRUPO_N.Proveedor ADD CONSTRAINT
	PK_Proveedor PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE GRUPO_N.Proveedor ADD CONSTRAINT
	FK_Proveedor_Rubro FOREIGN KEY
	(
	ID_Rubro
	) REFERENCES GRUPO_N.Rubro
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE GRUPO_N.Proveedor ADD CONSTRAINT
	FK_Proveedor_Usuario FOREIGN KEY
	(
	ID
	) REFERENCES GRUPO_N.Usuario
	(
	ID
	) ON UPDATE  NO ACTION 
	ON DELETE  NO ACTION 
	
GO
ALTER TABLE GRUPO_N.Cupon ADD CONSTRAINT
	FK_Cupon_Proveedor FOREIGN KEY
	(
	ID_Proveedor
	) REFERENCES GRUPO_N.Proveedor
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT