<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FechaSistema" value="2009-01-05"/>
  </appSettings>
  <connectionStrings>
    <add name="GrouponConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TEST_GD;user=gd;password=gd2012"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>