<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FechaSistema" value="2012-11-10"/>
  </appSettings>
  
  <connectionStrings>
    <add name="GrouponConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GD2C2012;user=gd;password=gd2012"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>